{% extends 'base.html' %}

{% block content %}
    <article>
        <h1><strong>{{ post_detail.title }}</strong></h1>
        <time>{{ post_detail.date_added|date:"d M, y h:i" }}</time>
        <a href="{% url 'category_url' post_detail.category.slug %}">{{ post_detail.category.title }}</a>
        <p><strong>{{ post_detail.intro }}</strong></p>
        <p>{{ post_detail.body }}</p>
        <h2>Comments</h2>

        {% if not post_detail.comment_model.all %}
            <p>No comments yet!</p>
        {% endif %}

        {% for comment in post_detail.comment_model.all %}
        <article>
            <strong>{{comment.name}} at {{comment.date_added}}</strong><button>delete</button><br/>
            {{comment.body}}
        </article>
        {% endfor %}
        
        <form method="post" action=".">
            {% csrf_token %}
            {{ form_detail.as_table }}
            <input type="submit" value="Add comment">
        </form>
    </article>
{% endblock %}